# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Windows stuff (added manually)
*.lnk
# My in-progress stuff (added manually)
tempbak